/* You can add global styles to this file, and also import other style files */

@font-face
{
  font-family:'iransans';
  src: url('assets/fonts/iransans.eot?#') format('eot'),/* IE6â€“8 */
  url('assets/fonts/iransans.woff') format('woff')/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  /*url('assets/fonts/iransans.ttf') format('truetype');!* Saf3â€”5, Chrome4+, FF3.5, Opera 10+ *!*/
}
.fontIransans{
  font-family: iransans !important;
}
body{
  font-family: iransans !important;
}



.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border-color: #eae3e3;
}

body{
  direction: rtl !important;
}
.main-sidebar
{
  right: 0 !important;
  left: 83%;
  width: 17%;
}

.content-wrapper {
  margin-right: 17%;
  left: 0px;
  margin-left: 0;
}
.sidebar-right-toggle {
  float: left !important;
}

nav.navbar.navbar-static-top {
  margin-right: 17% !important;
}
.main-header .logo {
  float: right;
}
.main-header .navbar {
  margin-right: 17% !important;
  margin-left: 0;
}
.navbar-custom-menu {
  float: left !important;
}

li.messages-menu {
  float: right;
}
li.tasks-menu {
  float: right;
}
li.notifications-menu {
  float: right;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  right: -20px;
}
.sidebar-menu li > a > .pull-right-container {
  left: 10px !important;
  right: auto;
}

.breadcrumb
{
  position: absolute !important;
  left: 0 !important;
  right: auto !important;
  direction: rtl;
  text-align: right;
}

footer.main-footer {
  margin-right: 17%;
  margin-left: 0;
}

ul.nav.nav-tabs li {
  float: right;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.customTable tr th {
  text-align: right;
}

.hover{
    background: red !important;
    color: green !important;
}


.customMatTable th {
  text-align: right !important;
  padding-right: 20px !important;
  font-family: iransans !important;
}
.customMatTable tr td{
  padding-right: 20px !important;
  font-family: iransans !important;
}

 button.mat-menu-item {
  text-align: right;
   font-family: iransans !important;
}

button.mat-paginator-navigation-last.mat-icon-button.ng-star-inserted {
  position: absolute  !important;
  right: 30px  !important;
}
button.mat-paginator-navigation-next.mat-icon-button {
  position: absolute  !important;
  right: 70px  !important;
}
button.mat-paginator-navigation-previous.mat-icon-button {
  position: absolute  !important;
  right: 120px  !important ;
}
button.mat-paginator-navigation-first.mat-icon-button.ng-star-inserted {
  position: absolute  !important;
  right: 160px  !important;
}
.mat-paginator-range-label {
  direction: ltr !important;
}

simple-snack-bar.mat-simple-snackbar.ng-star-inserted span {
  position: absolute !important;
  right: 15px !important;
}

button.btn.btn-box-tool {
  left: 15px !important;
  position: absolute !important;
  background: white;
  padding: 0;
  border-radius: 100px;
  height: 15px;
  width: 15px;
}